{% extends 'authentication/base.html' %}

{% block content %}

<div class="row" style="padding-top: 120px;">
    <div class="col-md-12 col-lg-8 item project-post">
        <table id="rss_feed">
            <h1>Dernières Nouvelles</h1>
            <div class="clear"></div>
            {% for entry in entries %}

            <tbody style="border-top:1px solid #333333;">
                    <tr style="border-right:1px solid #333333;">
                        <td rowspan=2>
                            <a href="{{entry.url}}"><img src="{{entry.thumbnail_url}}" style="max-width: 75px;"></a>
                            <td style="font-weight: bold;"><a href="{{entry.url}}" >{{entry.title}}</a></td>
                        </td>
                            <tr>
                                <td style="border-right:1px solid #333333;"><a href="{{entry.url}}">{{entry.summary}}</a></td>
                            </tr>
                        </td>
                    </tr>
                </a>
                <tr>
                    <td colspan=2 style="font-size: x-small;border-bottom:1px solid #333333;border-right:1px solid #333333;">{{entry.date}}</td>
                </tr>
            </tbody>


            {% endfor %}
        </table>
    </div>
    <div class="col-md-12 col-lg-4" id="meteo-widget">
        <h1> La météo du jour</h1>
        <div class="clear"></div>
        <div>
            <img src="{{ weather_data.icon }}" style="max-width: 100px;">
            <p>Température: {{weather_data.temp}}°C</p>
            <p>Pression : {{weather_data.pressure}} hPa</p>
            <p>Humidité : {{weather_data.humidity}}</p>
            <p>Vitesse du vent : {{weather_data.wind_speed}} km/h</p>
            <p><a href="https://openweathermap.org/weathermap?zoom=12&lat={{weather_data.lat}}&lon={{weather_data.lon}}">Plus d'informations sur OpenWeatherMap</a></p>
        </div>
    </div>
</div>

{% endblock %}