{% extends 'authentication/base.html' %}
{% block content %}
<div class='container' style="padding-top: 120px;">
    {% if message %}
          <p style="color:red;">{{ message }}</p>
        {% endif %}
<p>Veuillez entrer votre nom d'utilisateur. Nous vous enverrons un e-mail contenant les instructions pour changer votre mot de passe.</p>
<form class="form-inline" action="{% url 'authentication:password_reset_query' %}" method="POST">
    {% csrf_token %}
    <input name='username' type="text">
    <button name="submit" type="submit" class="btn btn-success">Envoyer</button>
</form>
</div>
{% endblock %}