{%extends 'authentication/base.html' %}

{% block content %}
<div class="clear"></div>
<div class="clear height20"></div>
<div class="templatemo_lightgrey_about" id="templatemo_about">
	<div class="container">
<div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
    <a href="www.google.fr" style="color:#8a8a8a;"><div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-lock"></i></span>
                    </div>
                    Se Connecter</div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box" >
                    <div class="inner-hover-box">								
                        <p>
                        Veuillez vous connecter afin de bénéficier des fonctionnalités de l'application.
                    </p>
                    </div>
                </div>
            </div> </a>	
</div>
</div>
</div>
<div class="clear"></div>
{% endblock %}