{% extends 'authentication/base.html' %}

{% block content %}
<div class="clear"></div>
<div class="clear height20"></div>
<!-- About Zone-->
<div class="templatemo_lightgrey_about" id="templatemo_about">
	<div class="container">
<div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12 templatemo_margintop10">
    <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-sun-o"></i></span>
                    </div>
                    Météo</div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box" >
                    <div class="inner-hover-box">								
                        <p>
                       Des prévisions météorologiques dans la zone de l'exploitation.
                    </p>
                    </div>
                </div>
            </div>
</div>
<div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
    <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-rss"></i></span>
                    </div>
                    Restez à jour !</div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box" >
                    <div class="inner-hover-box">								
                        <p>Les dernières nouvelles en direct de la Chambre de l'Agriculture réunies au même endroit.</p>
                    </div>
                </div>
            </div> 	
</div>
<div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
    <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-table"></i></span>
                    </div>
                    Gestion facile</div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box" >
                    <div class="inner-hover-box">								
                        <p>Effectifs, emploi du temps et parcelles. Gérez tout en quelques clics !</p>
                    </div>
                </div>
            </div> 	
</div>
<div class="col-xs-6 col-sm-6 col-md-3 templatemo_col12">
    <div class="item project-post">
                <div class="templatemo_about_box">
                    <div class="square_coner">
                        <span class="texts-a"><i class="fa fa-tablet"></i></span>
                    </div>
                    Adapté aux tablettes </div>
                <div class="col-xs-6 col-sm-6 col-md-3 hover-box" >
                    <div class="inner-hover-box">								
                        <p>Design léger et agréable pour permettre une utilisation sur tous types de terminal.</p>
                    </div>
                </div>
            </div> 	
</div>
</div>
</div>
<!-- End About Zone-->
<div class="clear"></div>
{% endblock %}