{%extends 'authentication/base.html' %}

{% block content %}
<div class="clear"></div>
<div class="clear height20"></div>

<div class="container" style="padding-top: 120px;">
    <div class="col-12">
        <h5 class="card-title">Connectez-vous</h5>
          <form class="form-inline" action="" method="POST">
            {% csrf_token %}
            <table>
              {{form.as_table}}
            </table>
            <button name="submit" type="submit" class="btn btn-success">Se connecter</button>
          </form>
    </div>
</div>
{% endblock %}