[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
requests = "*"
gunicorn = "*"
psycopg2-binary = "*"
django-debug-toolbar = "*"
selenium = "*"
webdriver-manager = "*"

[dev-packages]

[requires]
python_version = "3.9"
